.home-container {
    padding: 20px;
    background-color: #f5f5f5; /* Light gray background */
  }
  
  h1 {
    font-size: 2em;
    color: #333; /* Dark gray text */
    text-align: center;
    margin-bottom: 20px;
  }
  
  .events-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Space between event drafts */
  }
  

  .event-draft-box:hover {
    transform: scale(1.02); /* Slightly enlarge on hover */
  }
  
  
  