/* Ensure the body takes full viewport height and does not overflow */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  
  /* Main container to handle scrolling */
  .home-container {
    padding: 20px; /* Padding around the content */
    padding-top: 60px; /* Extra padding to account for the fixed Navbar */
    overflow-y: auto; /* Enable vertical scrolling */
    min-height: calc(100vh - 60px); /* Ensure the container takes at least full viewport height minus Navbar height */
  }
  
  /* Container for event drafts */
  .events-list {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between event items */
  }
  /* Events.css */
.event-draft-box {
    width: 100%;
    max-width: 500px; /* Adjust to fit your design */
    padding: 10px 20px; /* Adjust padding for top/bottom */
    margin: 20px 10px;
    border: 2px solid #800000; /* Maroon border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow around the box */
    border-radius: 8px;
    background-color: #fff;
  }
  
  .event-name {

    font-size: 1.5em;
    color: #800000; /* Maroon color for the title */
    margin-bottom: 10px;
    text-align: left;
  }
  
  
  .event-date{
    background-color: #e8e4e4; /* Slightly off-white background */
    padding: 9px 100px;
    margin-bottom: 5px;
    border-radius: 4px;
  }
  
  .event-location,
  .event-time {
    background-color: #f9f9f9; /* Slightly off-white background */
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
  }
  
  .event-time-container {
    display: flex;
    gap: 10px; /* Space between time and location boxes */
    margin-top: 16px;
}

.sign-up-button,
  .learn-more-link {
    display: block;
    margin-top: 10px;
    text-align: center;
  }

.sign-up-button {
    color: maroon; /* Blue background */
   
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .sign-up-button:hover {
    background-color: rgb(182, 4, 4); /* Darker blue on hover */
  }
  
  .learn-more-link {
    color: rgb(150, 3, 3); /* Blue text */
    text-decoration: none;
    background: none;
    border: none;
    padding: 8px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .learn-more-link:hover {
    text-decoration: underline;
  }